<div class="border-b border-border pb-8 mb-2">
  <div class="space-y-4">
    <div class="prose prose-invert max-w-none">
      <p class="text-2xl leading-relaxed text-foreground mb-4">
        <a
          href="https://github.com/msviderok/base-ui"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary hover:text-primary/80 inline-flex items-center gap-2"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            class="size-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <title>GitHub</title>
            <path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path>
          </svg>
          Base UI for Solid
        </a>
      </p>

      <p class="text-base leading-relaxed text-foreground">
        This is a showcase of an unofficial port of <a
          href="https://base-ui.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary hover:text-primary/80">Base UI</a
        > for <a
          href="https://solidjs.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary hover:text-primary/80"
        >
          SolidJS
        </a>. It is intented to represent 100% compatibility (with the exception of
        framework-specific mechanics) with the original React version.
      </p>

      <h3 class="text-lg leading-relaxed mt-4 font-semibold">Description:</h3>
      <ul class="list-disc list-inside">
        <li>
          Port is based on the <span class="font-bold">v1.0.0-beta.1</span> release (specifically <a
            href="https://github.com/mui/base-ui/tree/b5ed091e5ab52b9730d6cfe87646077a9e4099e3"
            target="_blank"
            rel="noopener noreferrer"
            class="text-primary hover:text-primary/80">this commit</a
          >).
        </li>

        <li>This port also includes a port of included Floating UI components.</li>

        <li>
          All components' interfaces are 100% compatible with the React version, with the exception
          of framework-specific mechanics
          <ul class="list-disc list-inside pl-4">
            <li>
              For example, in Solid passing a component to <code class="text-muted-foreground"
                >render</code
              > prop like <code class="text-muted-foreground"
                >{`render={<button some="props"/>}`}</code
              > would resolve a component immediately, preventing it from getting the props provided by
              the <code class="text-muted-foreground">render</code> prop. This port provides multiple
              ways of solving this issue.
            </li>
          </ul>
        </li>

        <li>
          All the demos (both <a
            href="https://tailwindcss.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-primary hover:text-primary/80">Tailwind</a
          > and <a
            href="https://github.com/css-modules/css-modules"
            target="_blank"
            rel="noopener noreferrer"
            class="text-primary hover:text-primary/80">CSS Modules</a
          > versions) were taken from the Base UI docs website at the moment of <a
            href="https://github.com/mui/base-ui/tree/b5ed091e5ab52b9730d6cfe87646077a9e4099e3"
            target="_blank"
            rel="noopener noreferrer"
            class="text-primary hover:text-primary/80"
          >
            this commit
          </a>.
        </li>

        <li>All the demos render both React and Solid versions of the demo components.</li>

        <li>You can toggle between Tailwind/Css Modules versions of the demos</li>

        <li>You can also toggle rendering the whole layout between React and Solid versions.</li>

        <li>
          Both React and Solid versions of the website are using <a
            href="https://ui.shadcn.com/create?base=base"
            target="_blank"
            rel="noopener noreferrer"
            class="text-primary hover:text-primary/80">shadcn/ui + Base UI</a
          > starter template. Solid version of those components is the exact copy of React's.
        </li>
      </ul>
    </div>
  </div>
</div>
