<div
  class="flex items-center gap-2 border-b border-border pb-6 sticky top-0 bg-background/80 backdrop-blur-md z-20 pt-4"
>
  <div class="flex items-center gap-3 justify-center flex-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="-11.5 -10.23174 23 20.46348"
      class="size-7 fill-blue-400 grayscale"
    >
      <circle cx="0" cy="0" r="2.05"></circle>
      <g stroke="currentColor" stroke-width="1" fill="none">
        <ellipse rx="11" ry="4.2"></ellipse>
        <ellipse rx="11" ry="4.2" transform="rotate(60)"></ellipse>
        <ellipse rx="11" ry="4.2" transform="rotate(120)"></ellipse>
      </g>
    </svg>
    <span class="text-md font-bold uppercase tracking-widest text-muted-foreground">React</span>
  </div>

  <div class="w-px h-10 bg-border/40 flex10" aria-hidden="true"></div>

  <div class="flex items-center gap-3 justify-center flex-1">
    <svg
      enable-background="new 0 0 166 155.3"
      viewBox="0 0 166 155.3"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      class="size-7 fill-blue-400"
      ><linearGradient
        id="a"
        gradientUnits="userSpaceOnUse"
        x1="27.028"
        x2="151.542"
        y1="3.451"
        y2="63.891"
        ><stop offset=".118" stop-color="#bbbdbf"></stop><stop offset=".299" stop-color="#f1f1f2"
        ></stop><stop offset="1" stop-color="#d0d2d3"></stop></linearGradient
      ><linearGradient
        id="b"
        gradientUnits="userSpaceOnUse"
        x1="95.307"
        x2="73.509"
        y1="32.988"
        y2="105.648"
        ><stop offset="0" stop-color="#bbbdbf"></stop><stop offset=".475" stop-color="#929497"
        ></stop><stop offset="1" stop-color="#58595b"></stop></linearGradient
      ><linearGradient
        id="c"
        gradientUnits="userSpaceOnUse"
        x1="17.932"
        x2="143.767"
        y1="64.628"
        y2="150.169"
        ><stop offset="0" stop-color="#58595b"></stop><stop offset=".539" stop-color="#929497"
        ></stop><stop offset="1" stop-color="#58595b"></stop></linearGradient
      ><linearGradient
        id="d"
        gradientUnits="userSpaceOnUse"
        x1="74.763"
        x2="23.901"
        y1="74.909"
        y2="261.184"
        ><stop offset="0" stop-color="#4377bb"></stop><stop offset="0" stop-color="#808184"
        ></stop><stop offset=".475" stop-color="#404041"></stop><stop
          offset="1"
          stop-color="#231f20"></stop></linearGradient
      ><path
        d="m162.5 35.7s-52.7-39.8-93.6-30.5c-1.2.3-2.5.6-3.6 1-6.3 2-11 5.5-13.9 9.7-.6.8-1 1.7-1.5 2.5l-15.1 25.7 26.1 5.1c10.3 7.4 24.8 10.5 37.2 7.3l46.5 9.1z"
        fill="#bbbdbf"></path><path
        d="m162.5 35.7s-52.7-39.8-93.6-30.5c-1.2.3-2.5.6-3.6 1-6.3 2-11 5.5-13.9 9.7-.6.8-1 1.7-1.5 2.5l-15.1 25.7 26.1 5.1c10.3 7.4 24.8 10.5 37.2 7.3l46.5 9.1z"
        fill="url(#a)"
        opacity=".29"></path><path
        d="m51 35.2c-1.2.3-2.5.6-3.6 1-16.7 5.4-22.4 21-12.8 34.7s30.9 20.5 47.6 15.1l62.4-20.2c0-.1-52.7-39.9-93.6-30.6z"
        fill="#929497"></path><path
        d="m51 35.2c-1.2.3-2.5.6-3.6 1-16.7 5.4-22.4 21-12.8 34.7s30.9 20.5 47.6 15.1l62.4-20.2c0-.1-52.7-39.9-93.6-30.6z"
        fill="url(#b)"
        opacity=".34"></path><path
        d="m133.1 80.2c-9.6-13.7-30.9-20.5-47.6-15.1l-62.4 20.2-19.6 35 111.6 19.1 20-35.6c4-7 3.6-15.6-2-23.6z"
        fill="url(#c)"></path><path
        d="m113.5 115.1c-9.6-13.7-30.9-20.5-47.6-15.1l-62.4 20.3s52.7 39.8 93.6 30.5c1.2-.3 2.5-.6 3.6-1 16.7-5.4 22.4-21 12.8-34.7z"
        fill="url(#d)"></path></svg
    >
    <span class="text-md font-bold uppercase tracking-widest text-muted-foreground">SolidJS</span>
  </div>
</div>
