---
import Section from "@/components/astro/Section.astro";
import AppLayout from "@/layouts/AppLayout.astro";

const complist = await fetch(`${import.meta.env.VERCEL_URL}/complist.json`).then(
  (res) => res.json() as Promise<[string, string[]][]>
);
---

<AppLayout>
  <div class="">
    {complist.map(([compName, variants]) => <Section compName={compName} variants={variants} />)}
  </div>
</AppLayout>
