---
import Section from "@/components/astro/Section.astro";
import Layout from "@/Layout.astro";
import { COMPLIST } from "@/store";
---

<Layout>
  <div id="components-root">
    {COMPLIST.map(([compName, variants]) => <Section compName={compName} variants={variants} />)}
  </div>
</Layout>
