@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6 0.13 163);
  --primary-foreground: oklch(0.98 0.02 166);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.6 0.13 163);
  --accent-foreground: oklch(0.98 0.02 166);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.85 0.13 165);
  --chart-2: oklch(0.77 0.15 163);
  --chart-3: oklch(0.7 0.15 162);
  --chart-4: oklch(0.6 0.13 163);
  --chart-5: oklch(0.51 0.1 166);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.6 0.13 163);
  --sidebar-primary-foreground: oklch(0.98 0.02 166);
  --sidebar-accent: oklch(0.6 0.13 163);
  --sidebar-accent-foreground: oklch(0.98 0.02 166);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-blue: oklch(45% 50% 264deg);
  --color-red: oklch(50% 55% 31deg);

  --color-gray-50: oklch(98.42% 0.0034 247.86deg);
  --color-gray-100: oklch(12% 9.5% 264deg / 5%);
  --color-gray-200: oklch(12% 9% 264deg / 8%);
  --color-gray-300: oklch(12% 8.5% 264deg / 17%);
  --color-gray-400: oklch(12% 8% 264deg / 38%);
  --color-gray-500: oklch(12% 7.5% 264deg / 50%);
  --color-gray-600: oklch(12% 7% 264deg / 67%);
  --color-gray-700: oklch(12% 6% 264deg / 77%);
  --color-gray-800: oklch(12% 5% 264deg / 85%);
  --color-gray-900: oklch(12% 5% 264deg / 90%);
  --color-gray-950: oklch(12% 5% 264deg / 95%);

  @media (prefers-color-scheme: dark) {
    --color-blue: oklch(69% 50% 264deg);
    --color-red: oklch(80% 55% 31deg);

    --color-gray-50: oklch(17% 1% 264deg);
    --color-gray-100: oklch(28% 3% 264deg / 65%);
    --color-gray-200: oklch(31% 3% 264deg / 80%);
    --color-gray-300: oklch(35% 3% 264deg / 80%);
    --color-gray-400: oklch(47% 3.5% 264deg / 80%);
    --color-gray-500: oklch(64% 4% 264deg / 80%);
    --color-gray-600: oklch(82% 4% 264deg / 80%);
    --color-gray-700: oklch(92% 4.5% 264deg / 80%);
    --color-gray-800: oklch(93% 3.5% 264deg / 85%);
    --color-gray-900: oklch(95% 2% 264deg / 90%);
    --color-gray-950: oklch(94% 1.5% 264deg / 95%);
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7 0.15 162);
  --primary-foreground: oklch(0.26 0.05 173);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.7 0.15 162);
  --accent-foreground: oklch(0.26 0.05 173);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.85 0.13 165);
  --chart-2: oklch(0.77 0.15 163);
  --chart-3: oklch(0.7 0.15 162);
  --chart-4: oklch(0.6 0.13 163);
  --chart-5: oklch(0.51 0.1 166);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.77 0.15 163);
  --sidebar-primary-foreground: oklch(0.26 0.05 173);
  --sidebar-accent: oklch(0.7 0.15 162);
  --sidebar-accent-foreground: oklch(0.26 0.05 173);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* Gray scale that is roughly compatible with Tailwind's grays */
  --color-gray-50: oklch(98% 0.25% 264deg);
  --color-gray-75: oklch(97% 0.325% 264deg); /* Not a Tailwind step, don't use it in the demos */
  --color-gray-100: oklch(12% 9.5% 264deg / 5%);
  --color-gray-200: oklch(12% 9% 264deg / 7%);
  --color-gray-300: oklch(12% 8.5% 264deg / 17%);
  --color-gray-400: oklch(12% 8% 264deg / 38%);
  --color-gray-500: oklch(12% 7.5% 264deg / 50%);
  --color-gray-600: oklch(12% 7% 264deg / 67%);
  --color-gray-700: oklch(12% 6% 264deg / 77%);
  --color-gray-800: oklch(12% 5% 264deg / 85%);
  --color-gray-900: oklch(12% 5% 264deg / 90%);
  --color-gray-950: oklch(12% 5% 264deg / 95%);

  /* Other colors used in Tailwind demos */
  --color-blue-800: var(--color-blue);
  --color-red-800: var(--color-red);

  /* Functional colors for the docs */
  --color-content: white;
  --color-background: var(--color-gray-50);
  --color-foreground: var(--color-gray-900);
  --color-popup: white;
  --color-gridline: oklch(91.6% 1% 264deg);
  --color-selection: oklch(80% 50% 264deg / 25%);
  --color-highlight: var(--color-blue);
  --color-line-highlight: oklch(80% 50% 264deg / 10%);
  --color-line-highlight-strong: oklch(80% 50% 264deg / 25%);
  --color-inline-highlight: oklch(80% 50% 264deg / 15%);

  /* Text colors for the docs */
  --color-gray: var(--color-gray-600);
  --color-navy: oklch(31% 25% 264deg);
  --color-blue: oklch(45% 50% 264deg);
  --color-green: oklch(46% 30% 150deg);
  --color-purple: oklch(40% 45% 360deg);
  --color-violet: oklch(40% 60% 300deg);
  --color-red: oklch(50% 55% 31deg);

  /* Typography */
  --font-mono: "SF Mono", "Menlo", "DejaVu Sans Mono", "Consolas", "Inconsolata", monospace;
  --font-sans: "Unica 77", system-ui, sans-serif;

  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.25rem;
  --text-xs--letter-spacing: 0.001em;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-sm--letter-spacing: 0.016em;

  --text-md: 0.9375rem;
  --text-md--line-height: 1.375rem;
  --text-md--letter-spacing: 0.016em;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-base--letter-spacing: 0em;

  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-lg--letter-spacing: -0.0025em;

  --text-xl: 1.3125rem;
  --text-xl--line-height: 1.625rem;
  --text-xl--letter-spacing: -0.005em;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.25;
  --text-2xl--letter-spacing: -0.0125em;

  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-3xl--letter-spacing: -0.015em;

  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-4xl--letter-spacing: -0.015em;

  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-5xl--letter-spacing: -0.015em;

  --text-6xl: 3.75rem;
  --text-6xl--line-height: 0.95;
  --text-6xl--letter-spacing: -0.015em;

  --ease-out-fast: cubic-bezier(0.45, 1.005, 0, 1.005);
  --ease-in-slow: cubic-bezier(0.375, 0.015, 0.545, 0.455);
  --header-height: 3rem;
}

@theme inline {
  --font-sans: "Inter Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
