---
import "./index.css";
import LayoutSkeleton from "@/components/astro/LayoutSkeleton.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light dark" />
    <title>Astro Basics</title>
  </head>
  <body class="bg-background overflow-hidden">
    <div class="min-h-screen relative z-0 max-w-max w-full mx-auto">
      <slot />
      <LayoutSkeleton />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
