---
import "./index.css";
import LayoutSkeleton from "@/components/astro/LayoutSkeleton.astro";
import FrameworkIndicator from "@/components/astro/FrameworkIndicator.astro";
import { ClientRouter } from "astro:transitions";
import DescriptionSection from "@/components/astro/DescriptionSection.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light dark" />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body class="bg-background overflow-hidden">
    <div class="min-h-screen relative z-0 max-w-max w-full mx-auto">
      <slot />
      <LayoutSkeleton />
    </div>
    <FrameworkIndicator transition:name="framework-indicator" />
  </body>
</html>

<script>
  import { styling } from "@/lib/store";

  styling.subscribe((value) => {
    document.documentElement.classList.toggle("css-modules", value === "CssModules");
  });
</script>
