---
import StyleSwitch from "@/components/astro/StyleSwitch.astro";
import CollapseSwitch from "@/components/astro/CollapseSwitch.astro";
import Layout from "./Layout.astro";
---

<Layout>
  <div
    class="dark min-h-screen bg-background text-foreground selection:bg-foreground selection:text-background relative py-8 px-4 sm:px-8 md:px-16 flex w-full flex-col items-center"
  >
    <main class="relative z-10 max-w-6xl w-full space-y-4 font-sans">
      <header
        id="app-header"
        class="group space-y-4 mb-12 flex flex-col gap-4 sticky top-0 z-20 bg-background/90 backdrop-blur supports-backdrop-filter:bg-background/80 py-5 transition-[padding] duration-200"
      >
        <div class="flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between">
          <h1
            id="app-title"
            class="text-3xl sm:text-3xl font-bold tracking-tight group-data-[scrolled=true]:text-2xl transition-[font-size] duration-200"
          >
            Cross-Framework Comparison
          </h1>
          <div
            class="flex flex-col sm:flex-row items-start sm:items-center gap-3 sm:gap-6 lg:shrink-0"
          >
            <StyleSwitch />
            <CollapseSwitch />
          </div>
        </div>
      </header>

      <slot />
    </main>
  </div>
</Layout>

<script>
  if (typeof window !== "undefined") {
    const header = document.getElementById("app-header")!;
    const title = document.getElementById("app-title")!;

    const onScroll = () => {
      const scrolled = window.scrollY > 30;
      header.dataset.scrolled = scrolled ? "true" : "false";
    };

    window.addEventListener("scroll", onScroll, { passive: true });
    onScroll();
  }
</script>
